.display-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    margin: 10px 0 20px 0;
    font-size: 1.7em;
}

.category {
    height: 40px;
}

.category a {
    padding: 5px;
    margin: 10px;
    background-color: rgb(184, 184, 184);
    border-radius: 15px;
}