.product-card {
    position: relative;
    width: 300px;
    height: 400px;
}

.product-card:hover {
    box-shadow: 0 0 10px black;
}

.product-card > .image {
    position: absolute;
    width: 280px;
    height: 280px;
    margin: 10px;
}

.product-card > .image > .hidden-link {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);        
}

.product-card > .image:hover .hidden-link {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.product-card > .image > .hidden-link a {
    color: white;
    font-size: 2em;
    width: 100%;
    height: 140px;
    line-height: 140px;
    vertical-align: middle;
    text-align: center;
}

.product-card > .image > .hidden-link a:hover {
    background-color: rgba(0, 0, 0, .5);
}

.product-card > .detail {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
}

.product-card > .detail > h1 {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    margin: 10px;
}

.product-card > .detail > :not(h1) {
    margin: 0 20px 20px 20px;
    font-size: 1.5em;
}

.product-card > .detail > a:hover {
    color: lawngreen;
}